body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*--component css--*/

.header-panel {
  position: fixed;
  top: 0;
  padding: 1em 0;
  width: 100%;
  text-align: center;
  box-shadow: 4px -1px 20px #6a59ff;
  font-size: 1.5rem;
  background: #6a59ff;
  color: #e6e8f6;
}
.main-panel {
  height: 100vh;
  background: #313660;
  display: flex;
  flex-direction: column;
}
.cards-panel {
  height: 60vh;
  width: 30%;
  margin: 0 auto;
  margin-top: 2em;
  border: 20px solid #353b68;
  border-radius: 32%;
  position: relative;
}
.dealer-logo {
  position: absolute;
  top: -40px;
  left: 39%;
  width: 70px;
  height: 70px;
  background: #6a59ff;
  border-radius: 64%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 4px solid #227991;
}
.player-logo {
  position: absolute;
  bottom: -40px;
  left: 39%;
  width: 70px;
  height: 70px;
  background: #6a59ff;
  border-radius: 64%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 4px solid #227991;

}
.cards-wrap {
  margin-top: 4em;
  display: flex;
  justify-content: center;
}
.card-main {
  width: 50px;
  height: 80px;
  border-radius: 4px;
  background: #464e87;
  padding: 10px;
  position: relative;
  box-shadow: 2px 4px 23px #101536;
  margin-right: 15px;
}
.face-value {
  color: #c8cbe1;
  font-size: larger;
  margin-top: -5px;
}
.shape {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.shapeRed {
  color: #fa6778;
}
.shapeBlue {
  color: #6089ff;
}
.player-wrap {
  margin-top: 3em;
}
.blank-card {
  background-color: #313660;
  background-image: linear-gradient(319deg, #aba2ff 0%, #6a59ff 74%);
  background-repeat: repeat;
}
.btn-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 3em;
  width: 50%;
  padding-bottom: 1em;
}

.player-total {
  background: #6a59ff;
  color: #d4d3f7;
  padding: 1em 3em;
  border-radius: 27px;
}
button{
  background: #52abf8;
    color: #e6e8f6;
    outline: none;
    border: none;
    padding: 1em 3em;
    border-radius: 10px;
    cursor: pointer;
}
.btn-wrap-de{
  display: flex;
  justify-content:center;
  margin: 0 auto;
  padding-top: 6em;
  width: 50%;
}
.ml25{
  margin-left: -25px;
}